.apps {
	$this: &;

	&__title {
		color: rgba($color-black, .5);
		font-size: microbe-rem(14);
		line-height: em(18, 14);

		@include microbe-media($screen-vw) {
			font-size: vw(14);
		}
	}

	&__images {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-top: microbe-rem(15);
		max-width: microbe-rem(235);

		@include microbe-media($screen-vw) {
			padding-top: vw(15);
			max-width: vw(235);
		}
	}

	&__item {
		width: microbe-rem(112);
		height: microbe-rem(33);

		@include microbe-media($screen-vw) {
			width: vw(112);
			height: vw(33);
		}

		img {
			max-width: 100%;
			max-height: 100%;
		}
	}
}
