.blog-slider {
	$this: &;

	position: relative;

	.slick-slide {
		padding: 0 microbe-rem(10);

		@include microbe-media($screen-vw) {
			padding: 0 vw(10);
		}
	}

	&__arrows {
		display: flex;
		justify-content: space-between;
		position: absolute;
		width: calc(100% + 200px);
		bottom: 42%;
		left: 50%;
		transform: translateX(-50%);
		pointer-events: none;
	}
}
