// Breadcrumbs
.breadcrumbs {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	list-style: none;
	position: relative;
	z-index: 1;

	&__link {
		color: rgba($color-white, .7);
		font-size: microbe-rem(15);
		line-height: microbe-em(14, 12);
		text-decoration: none;
		cursor: default;

		@include microbe-media($screen-vw) {
			font-size: vw(15);
		}

		&:not(:first-child) {
			&::before {
				content: '-';
				font-size: inherit;
				color: currentColor;
				margin: 0 microbe-rem(3);
				line-height: inherit;

				@include microbe-media($screen-vw) {
					margin: 0 vw(3);
				}
			}
		}

		&[href] {
			color: rgba($color-white, .7);
			cursor: pointer;
			opacity: 1;
			transition: color .2s ease;

			@media (hover: hover) {
				&:hover {
					color: $color-accent;
				}

				&:active {
					color: $color-accent-darker;
				}
			}
		}
	}
}
