.burger {
	$this: &;

	color: inherit;
	cursor: pointer;
	transition: color .2s ease;

	&.is-active {
		#{$this}__icon {
			&--open {
				display: none;
			}

			&--close {
				display: initial;
			}
		}
	}

	&__icon {
		width: microbe-rem(20);
		height: microbe-rem(14);
		flex-shrink: 0;
		fill: currentColor;

		&--open {
			display: initial;
		}

		&--close {
			display: none;
		}

		@include microbe-media($screen-vw) {
			width: vw(20);
			height: vw(18);
		}
	}

	@media (hover: hover) {
		&:hover {
			color: $color-accent;
		}

		&:active {
			color: $color-accent-darker;
		}
	}
}
