.buy-block {
	$this: &;

	&__title {
		line-height: microbe-em(54, 48);
		font-weight: $font-weight-medium;
		font-size: microbe-rem(36);
		text-align: center;
		color: $color-black;

		@include microbe-media($breakpoint-md) {
			font-size: microbe-rem(42);
		}

		@include microbe-media($screen-vw) {
			font-size: vw(48);
		}
	}

	&__text {
		font-size: microbe-rem(16);
		line-height: microbe-em(30, 20);
		color: $color-black;
		text-align: center;
		max-width: microbe-rem(900);
		margin: microbe-rem(16) auto 0;

		@include microbe-media($breakpoint-md) {
			font-size: microbe-rem(18);
		}

		@include microbe-media($screen-vw) {
			font-size: vw(20);
			max-width: vw(900);
			margin-top: vw(16);
		}
	}

	&__content {
		margin-top: microbe-rem(40);

		@include microbe-media($screen-vw) {
			margin-top: vw(58);
		}
	}
}
