.consultation-block {
	$this: &;

	&__title {
		color: $color-black;
		line-height: microbe-em(54, 48);
		font-weight: $font-weight-medium;
		font-size: microbe-rem(36);
		margin-bottom: microbe-rem(26);
		text-align: center;

		@include microbe-media($breakpoint-md) {
			font-size: microbe-rem(42);
		}

		@include microbe-media($screen-vw) {
			font-size: vw(48);
			margin-bottom: vw(26);
		}
	}

	&__text {
		font-size: microbe-rem(16);
		line-height: microbe-em(30, 20);
		color: $color-black;
		text-align: center;
		margin-bottom: microbe-rem(30);

		@include microbe-media($breakpoint-md) {
			font-size: microbe-rem(18);
		}

		@include microbe-media($screen-vw) {
			font-size: vw(20);
			margin-bottom: vw(38);
		}
	}

	&__description {
		font-size: microbe-rem(15);
		line-height: 1.29em;
		color: rgba($color-black, .5);
		margin-top: microbe-rem(15);
		max-width: microbe-rem(384);
		text-align: center;

		@include microbe-media($screen-vw) {
			font-size: vw(15);
			margin-top: vw(20);
			max-width: vw(384);
		}
	}
}
