// Containers
$container-large: 1774px !default;
$container-default: 1520px !default;
$container-small: 920px !default;

.container {
	padding-left: microbe-rem(10);
	padding-right: microbe-rem(10);
	max-width: microbe-rem(1540);
	margin: 0 auto;

	@include microbe-media($screen-vw) {
		padding-left: vw(10);
		padding-right: vw(10);
		max-width: vw(1540);
	}

	&--full {
		max-width: 100%;
	}

	&--no-gap {
		padding-left: 0;
		padding-right: 0;
	}

	&--small {
		max-width: calc(#{$container-small} + #{$microbe-space-sm} * 2);
	}

	&--theme-dropdown-menu {
		max-width: microbe-rem(1208);

		@include microbe-media($screen-vw) {
			padding-left: vw(10);
			padding-right: vw(10);
			max-width: vw(1208);
		}
	}

	&--size-hd {
		max-width: microbe-rem(1920);
		padding: 0;

		@include microbe-media($screen-vw) {
			max-width: vw(1920);
			padding: 0;
		}
	}

	&--theme-blog-inner {
		position: relative;
		max-width: microbe-rem(1006);

		@include microbe-media($screen-vw) {
			max-width: vw(1006);
			padding-left: vw(10);
			padding-right: vw(10);
		}
	}

	&--theme-default {
		position: relative;
		max-width: microbe-rem(1265);
		padding-left: microbe-rem(10);
		padding-right: microbe-rem(10);

		@include microbe-media($screen-vw) {
			max-width: vw(1265);
			padding-left: 0;
			padding-right: 0;
		}
	}
}
