.cookie {
	$cookie: &;

	position: fixed;
	bottom: -1px;
	left: 0;
	right: 0;
	background: $color-white;
	transition: 0.3s ease-in-out;
	z-index: 100;
	padding: microbe-rem(10) 0;
	box-shadow: 0 0 microbe-rem(14) microbe-rem(-8) rgba($color-black, .5);

	@include microbe-media($screen-vw) {
		padding: vw(10) 0;
		box-shadow: 0 0 vw(14) vw(-8) rgba($color-black, .5);
	}

	._flex-nowrap {
		@include microbe-media($microbe-breakpoint-df, max) {
			flex-wrap: wrap !important;
		}
	}

	&.is-hidden {
		transform: translateY(110%);
	}

	&__content {
		color: $color-text-4;
		padding: 0;
		margin: 0;
		font-size: microbe-rem(14);
		line-height: 1.4em;

		@include microbe-media($screen-vw) {
			font-size: vw(14);
		}
	}
}
