.documents {
	$this: &;

	&__title {
		line-height: microbe-em(54, 48);
		font-weight: $font-weight-medium;
		font-size: microbe-rem(36);
		text-align: left;
		color: $color-black;
		margin-bottom: microbe-rem(20);

		@include microbe-media($breakpoint-md) {
			font-size: microbe-rem(42);
		}

		@include microbe-media($screen-vw) {
			font-size: vw(48);
			margin-bottom: vw(32);
		}
	}

	&__text {
		&.wysiwyg {
			max-width: microbe-rem(555);
			color: rgba($color-black, .6);

			@include microbe-media($screen-vw) {
				max-width: vw(555);
			}

			strong,
			b {
				color: $color-black;
				font-weight: normal;
				font-size: microbe-rem(18);
				line-height: 1.4em;

				@include microbe-media($screen-vw) {
					font-size: vw(20);
				}
			}

			p {
				font-size: microbe-rem(14);
				line-height: 1.9em;

				@include microbe-media($screen-vw) {
					font-size: vw(16);
				}
			}
		}
	}

	&__items {
		padding-left: microbe-rem(7);
		padding-top: microbe-rem(10);

		@include microbe-media($screen-vw) {
			padding-left: vw(7);
			padding-top: vw(10);
		}
	}
}

.document {
	$this: &;

	display: flex;

	&:not(:last-child) {
		padding-bottom: microbe-rem(25);

		@include microbe-media($screen-vw) {
			padding-bottom: vw(38);
		}

		#{$this}__count-wrapper {
			&::before {
				content: '';
				position: absolute;
				top: microbe-rem(40);
				bottom: microbe-rem(-20);
				left: 50%;
				transform: translateX(-50%);
				border-left: 1px dashed rgba($color-grey-4, .2);

				@include microbe-media($screen-vw) {
					top: vw(50);
					bottom: vw(-30);
				}
			}
		}
	}

	&__count-wrapper {
		position: relative;
		margin-right: microbe-rem(20);

		@include microbe-media($screen-vw) {
			margin-right: vw(27);
		}
	}

	&__count {
		width: microbe-rem(35);
		height: microbe-rem(35);
		border-radius: 50%;
		display: flex;
		align-items: safe center;
		justify-content: center;
		font-size: microbe-rem(14);
		line-height: microbe-em(19, 16);
		font-weight: $font-weight-bold;
		background-color: $color-accent;
		color: $color-white;
		flex-shrink: 0;
		position: relative;

		@include microbe-media($screen-vw) {
			width: vw(40);
			height: vw(40);
			font-size: vw(16);
		}
	}

	&__content {
		max-width: microbe-rem(533);

		@include microbe-media($screen-vw) {
			max-width: vw(533);
		}
	}

	&__title {
		font-size: microbe-rem(16);
		line-height: 1.6em;
		color: #202020;
		margin-bottom: microbe-rem(3);
		font-weight: $font-weight-bold;

		@include microbe-media($screen-vw) {
			margin-bottom: vw(7);
			font-size: vw(18);
		}
	}

	&__text {
		font-size: microbe-rem(16);
		line-height: 1.37em;
		color: rgba($color-black, .6);

		@include microbe-media($screen-vw) {
			font-size: vw(16);
		}
	}
}
