.error-section {
	$this: &;

	min-height: microbe-rem(450);
	background-color: $color-accent-darker;
	padding-top: microbe-rem(150);
	padding-bottom: microbe-rem(100);

	@include microbe-media($screen-vw) {
		min-height: vw(940);
		padding-top: vw(159);
		padding-bottom: vw(100);
	}

	&__title {
		font-weight: $font-weight-medium;
		line-height: 1.1em;
		color: $color-white;
		font-size: microbe-rem(40);
		padding-bottom: microbe-rem(15);
		text-align: center;

		@include microbe-media($breakpoint-md) {
			text-align: left;
			font-size: microbe-rem(60);
		}

		@include microbe-media($screen-vw) {
			font-size: vw(80);
			padding-bottom: vw(25);
		}
	}

	&__message {
		font-size: microbe-rem(18);
		line-height: 1.33em;
		color: $color-white;
		font-weight: $font-weight-medium;
		padding-bottom: microbe-rem(20);
		text-align: center;

		@include microbe-media($breakpoint-md) {
			text-align: left;
			font-size: microbe-rem(22);
			padding-bottom: microbe-rem(30);
		}

		@include microbe-media($screen-vw) {
			font-size: vw(26);
			padding-bottom: vw(38);
		}
	}

	&__text {
		color: rgba($color-white, .6);
		font-size: microbe-rem(14);
		line-height: 1.54em;
		padding-bottom: microbe-rem(25);
		text-align: center;

		@include microbe-media($breakpoint-md) {
			text-align: left;
			font-size: microbe-rem(16);
			padding-bottom: microbe-rem(33);
		}

		@include microbe-media($screen-vw) {
			font-size: vw(18);
			padding-bottom: vw(43);
		}
	}

	&__link {
		display: flex;
		line-height: microbe-em(14, 12);
		border-radius: microbe-rem(32);
		padding: microbe-rem(14) microbe-rem(25);
		font-size: microbe-rem(10);
		transition: color .2s ease, opacity .2s ease, background-color .2s ease;
		background-color: $color-accent;
		color: $color-white;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: $font-weight-bold;
		letter-spacing: 0.16em;

		@media (hover: hover) {
			&:hover {
				background-color: rgba($color-accent, .8);
			}

			&:active {
				color: $color-accent;
				background-color: $color-white;
			}
		}

		@include microbe-media($breakpoint-md) {
			font-size: microbe-rem(12);
			padding: microbe-rem(22) microbe-rem(36);
		}

		@include microbe-media($screen-vw) {
			border-radius: vw(32);
			padding: vw(24) vw(40);
			font-size: vw(12);
		}
	}

	&__image-wrapper {
		position: relative;
		width: 100%;
		padding-bottom: 75.4%;

		@include microbe-media($breakpoint-md) {
			width: calc(100% + #{microbe-rem(20)});
			margin-left: microbe-rem(-20);
		}
	}

	&__image {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: safe center;
		justify-content: center;

		img {
			object-fit: contain;
			width: 100%;
			height: 100%;
		}
	}
}
