.footer {
	$this: &;

	padding: microbe-rem(57) 0 0;
	background-color: $color-white;

	@include microbe-media($screen-vw) {
		padding: vw(57) 0 0;
	}

	&__body {
		padding-bottom: microbe-rem(60);

		@include microbe-media($screen-vw) {
			padding-bottom: vw(60);
		}
	}

	&__bottom {
		border-top: 1px solid rgba($color-black, .2);
		width: 100%;
		padding: microbe-rem(12) 0 microbe-rem(17);

		@include microbe-media($screen-vw) {
			padding: vw(12) 0 microbe-rem(17);
		}
	}
}
