.form-item {
	$this: &;

	width: 100%;
	position: relative;

	&__control {
		outline: none;
		width: 100%;
		transition: border-color .2s ease;
		font-family: $font-family-default;

		&.has-error {
			border-color: $color-red !important; // sass-lint:disable-line no-important

			& + label {
				&.has-error {
					position: initial;
					padding-left: microbe-rem(20);
					width: 100%;
					color: $color-red;

					@include microbe-media($screen-vw) {
						padding-left: vw(20);
					}
				}
			}
		}
	}

	&--theme-default {
		#{$this}__control {
			background-color: $color-white;
			color: $color-text-4;
			font-size: microbe-rem(16);
			line-height: 1.1em;
			border: 2px solid $color-white;
			caret-color: $color-accent;

			@include microbe-media($screen-vw) {
				border-width: vw(2);
				font-size: vw(16);
			}

			&::placeholder {
				color: $color-text-4;
				font-size: microbe-rem(14);
				line-height: 1.1em;
				transition: color .2s ease;

				@include microbe-media($breakpoint-md) {
					font-size: microbe-rem(16);
				}

				@include microbe-media($screen-vw) {
					font-size: vw(16);
				}
			}

			&:focus {
				border-color: $color-accent;

				&::placeholder {
					color: transparent;
				}
			}
		}
	}

	&--input {
		width: 100%;

		#{$this}__control {
			padding: microbe-rem(16) microbe-rem(20);
			border-radius: microbe-rem(50);
			height: microbe-rem(50);

			@include microbe-media($screen-vw) {
				padding: vw(16) vw(20);
				border-radius: vw(50);
				height: vw(50);
			}
		}
	}

	&--textarea {
		#{$this}__control {
			padding: microbe-rem(16) microbe-rem(25);
			border-radius: microbe-rem(25);
			min-height: microbe-rem(84);
			max-height: microbe-rem(550);
			resize: vertical;
			font-family: $font-family-default;

			&::placeholder {
				color: $color-text-4;
				font-size: microbe-rem(14);
				line-height: 1.1em;
				transition: color .2s ease;
				font-family: $font-family-default;

				@include microbe-media($breakpoint-md) {
					font-size: microbe-rem(16);
				}

				@include microbe-media($screen-vw) {
					font-size: vw(16);
				}
			}

			@include microbe-media($screen-vw) {
				border-radius: vw(25);
				max-height: vw(550);
				min-height: vw(84);
				padding: vw(16) vw(25);
			}
		}
	}

	&--select2 {
		position: relative;
		z-index: 3;

		#{$this}__control {
			height: microbe-rem(50);
			border: none;
			padding: 0;

			@include microbe-media($screen-vw) {
				height: vw(50);
			}

			&:not(._dmi-is-loaded) {
				position: relative;

				select {
					width: 100%;
					border: 1px solid $color-border;
					height: 100%;
					font-size: microbe-rem(14);
					padding: 0 microbe-rem(20);
					border-radius: microbe-rem(27);
					line-height: microbe-em(20, 14);
					color: $color-text-1-lighter;
					outline: none;
					-webkit-appearance: none;

					@include microbe-media($screen-vw) {
						font-size: vw(14);
						padding: 0 vw(20);
						border-radius: vw(27);
					}
				}

				&::before {
					content: '';
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					right: microbe-rem(15);
					height: microbe-rem(20);
					width: microbe-rem(20);
					background-image: url("data:image/svg+xml,%3Csvg width='18' height='9' viewBox='0 0 18 9' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.82633 0.252601C1.41534 -0.112717 0.786517 -0.077675 0.418669 0.331044L0.256716 0.510992C-0.114357 0.923295 -0.0789395 1.55885 0.335646 1.92737L7.91934 8.66843C8.29822 9.00522 8.86918 9.00522 9.24806 8.66843L16.8318 1.92737C17.2463 1.55885 17.2818 0.923295 16.9107 0.510993L16.7487 0.331045C16.3809 -0.0776747 15.7521 -0.112717 15.3411 0.252601L9.24806 5.66862C8.86918 6.0054 8.29822 6.0054 7.91934 5.66862L1.82633 0.252601Z' fill='%2370B53F'/%3E%3C/svg%3E");
					background-repeat: no-repeat;
					background-position: center;

					@include microbe-media($screen-vw) {
						right: vw(15);
						height: vw(20);
						width: vw(20);
					}
				}
			}
		}
	}

	&--dark {
		.select2 {
			&-selection {
				background-color: $color-bg-grey !important;
			}

			&-container {
				width: 100% !important;
			}
		}
	}
}
