.header-menu {
	$this: &;

	display: flex;
	align-items: safe center;
	list-style-type: none;
	color: inherit;
	padding: 0 rem(25);

	@include microbe-media($screen-vw) {
		padding: 0 vw(25);
	}

	&__item {
		color: inherit;
		margin-right: rem(40);

		@include microbe-media($screen-vw) {
			margin-right: vw(40);
		}

		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		color: currentColor;
		transition: color .2s ease;
		text-decoration: none;
		font-size: microbe-rem(16);
		line-height: 1;
		position: relative;
		font-weight: $font-weight-medium;

		@include microbe-media($screen-vw) {
			font-size: vw(16);
		}

		@media (hover: hover) {
			&:hover {
				color: $color-accent;
			}

			&:active {
				color: $color-accent-darker;
			}
		}

		&::before {
			content: '';
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			height: microbe-rem(3);
			opacity: 0;
			background-color: currentColor;
			transition: opacity .2s ease;

			@include microbe-media($screen-vw) {
				height: vw(3);
			}
		}

		&.is-active {
			color: $color-accent-darker;

			&::before {
				opacity: 1;
			}
		}
	}
}
