.image {
	$this: &;

	&--decorated {
		width: microbe-rem(150);
		height: microbe-rem(150);
		margin-right: 0;
		position: relative;
		border-radius: 50%;
		display: flex;
		margin-top: 0;
		flex-shrink: 0;
		order: 0;
		margin-bottom: microbe-rem(30);

		@include microbe-media($breakpoint-md) {
			margin-bottom: 0;
			order: 1;
			margin-right: microbe-rem(35);
			margin-top: microbe-rem(-17);
		}

		@include microbe-media($screen-vw) {
			width: vw(236);
			height: vw(236);
			margin-top: vw(-17);
			margin-right: vw(71);
		}

		#{$this}__decor {
			position: absolute;
			width: microbe-rem(75);
			height: microbe-rem(75);
			border-radius: 50%;
			background-color: $color-accent;
			top: 0;
			right: 0;
			transform: translate(35%, -40%);

			@include microbe-media($screen-vw) {
				width: vw(138);
				height: vw(138);
			}

			&::before,
			&::after {
				content: '';
				position: absolute;
				background-color: #C1A0B8;
				border-radius: 50%;
			}

			&::before {
				width: microbe-rem(20);
				height: microbe-rem(20);
				right: microbe-rem(-30);
				transform: translateY(-35%);
				top: 50%;

				@include microbe-media($screen-vw) {
					width: vw(34);
					height: vw(34);
					right: vw(-56);
				}
			}

			&::after {
				width: microbe-rem(15);
				height: microbe-rem(15);
				right: microbe-rem(-50);
				transform: translateY(-140%);
				top: 50%;

				@include microbe-media($screen-vw) {
					width: vw(27.5);
					height: vw(27.5);
					right: vw(-85);
				}
			}
		}

		img {
			z-index: 2;
			width: 100%;
			height: 100%;
			max-width: initial;
			object-fit: cover;
			border-radius: 50%;
		}
	}
}
