.info-block {
	$this: &;

	&:not(:last-child),
	&:not(:only-child) {
		margin-bottom: microbe-rem(20);

		@include microbe-media($screen-vw) {
			margin-bottom: vw(30);
		}
	}

	&__header {
		display: flex;
		align-items: center;
		margin-bottom: microbe-rem(20);

		@include microbe-media($screen-vw) {
			margin-bottom: vw(30);
		}
	}

	&__name {
		color: $color-black;
		font-size: microbe-rem(16);
		font-weight: $font-weight-medium;
		line-height: microbe-em(54, 22);
		margin-left: microbe-rem(16);

		@include microbe-media($screen-vw) {
			font-size: vw(22);
			margin-left: vw(24);
		}
	}

	&__counter {
		width: microbe-rem(30);
		height: microbe-rem(30);
		background-color: $color-accent;
		display: flex;
		justify-content: center;
		align-items: center;
		border: microbe-rem(8) solid $color-white;
		font-size: microbe-rem(16);
		font-weight: $font-weight-bold;
		line-height: microbe-em(19, 16);
		border-radius: 50%;
		color: $color-white;
		box-sizing: content-box;
		flex-shrink: 0;

		@include microbe-media($screen-vw) {
			font-size: vw(16);
			width: vw(40);
			height: vw(40);
			border: vw(8) solid $color-white;
		}
	}

	&__content {
		background-color: $color-white;
		padding: microbe-rem(32) microbe-rem(53) microbe-rem(40) microbe-rem(27);
		border-radius: microbe-rem(10);

		@include microbe-media($screen-vw) {
			padding: vw(52) vw(73) vw(60) vw(47);
			border-radius: vw(10);
		}
	}
}
