.load-more {
	$this: &;

	color: $color-grey-dark;
	transition: background-color .2s ease, color .2s ease;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: $color-light;
	display: inline-flex;
	align-items: safe center;
	padding: microbe-rem(17) microbe-rem(42);
	border-radius: microbe-rem(32);
	margin: 0 auto;

	@include microbe-media($screen-vw) {
		padding: vw(17) vw(42);
		border-radius: vw(32);
	}

	&:not(.is-loading) {
		@media(hover: hover) {
			&:hover {
				color: $color-white;
				background-color: $color-accent;

				#{$this}__icon {
					fill: $color-white;
				}
			}

			&:active {
				color: $color-white;
				background-color: $color-accent-darker;

				#{$this}__icon {
					fill: $color-white;
				}
			}
		}
	}

	&.is-loading {
		cursor: default;
		pointer-events: none;
		color: $color-white;
		background-color: $color-accent;

		#{$this}__icon {
			fill: $color-white;
			animation: spin-360 1s linear infinite;
		}
	}

	&__icon {
		width: microbe-rem(29);
		height: microbe-rem(29);
		fill: $color-accent;
		margin-right: microbe-rem(11);

		@include microbe-media($screen-vw) {
			height: vw(29);
			width: vw(29);
			margin-right: vw(11);
		}
	}

	&__text {
		font-size: microbe-rem(10);
		line-height: microbe-em(12, 10);
		text-transform: uppercase;
		font-weight: $font-weight-bold;
		letter-spacing: 0.16em;

		@include microbe-media($screen-vw) {
			font-size: vw(10);
		}
	}
}
