.logo {
	$this: &;

	display: flex;
	align-items: safe center;

	&--header {
		svg {
			width: microbe-rem(176);
			height: microbe-rem(43);

			@include microbe-media($screen-vw) {
				width: vw(176);
				height: vw(43);
				margin-right: vw(39);
			}
		}
	}

	&--footer {
		svg {
			width: microbe-rem(229);
			height: microbe-rem(56);
			margin-bottom: microbe-rem(34);

			@include microbe-media($screen-vw) {
				width: vw(229);
				height: vw(56);
				margin-bottom: vw(34);
			}
		}
	}
}
