.nav-block {
	$this: &;

	background-color: $color-white;

	&__inner {
		display: flex;
		justify-content: center;
	}

	&__select {
		min-width: microbe-rem(290);

		@include microbe-media($screen-vw) {
			min-width: vw(290);
		}

		@include microbe-media($breakpoint-df, max) {
			flex-grow: 1;
		}
	}

	&--contacts {
		padding: microbe-rem(15) 0;

		#{$this}__text {
			font-weight: $font-weight-medium;
			font-size: microbe-rem(14);
			line-height: microbe-em(21, 14);
			color: $color-dark;
			margin-right: microbe-rem(25);

			@include microbe-media($breakpoint-xs) {
				min-width: microbe-rem(150);
			}

			@include microbe-media($screen-vw) {
				min-width: vw(150);
				font-size: vw(18);
				margin-right: vw(25);
			}

			@include microbe-media($breakpoint-df, max) {
				flex-basis: 100%;
				text-align: center;
				margin-bottom: microbe-rem(15);
			}
		}

		#{$this}__select {
			@include microbe-media($screen-vw) {
				max-width: vw(326);
				width: 100%;
			}
		}

		#{$this}__group {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-grow: 1;

			@include microbe-media($screen-vw) {
				padding-left: vw(185);
			}

			@include microbe-media($breakpoint-df, max) {
				flex-basis: 100%;
				flex-wrap: wrap;
				justify-content: center;
				margin-bottom: microbe-rem(15);
			}
		}
	}

	&--reports {
		padding: microbe-rem(15) 0;

		#{$this}__text {
			min-width: microbe-rem(150);
			font-weight: $font-weight-medium;
			font-size: microbe-rem(14);
			line-height: microbe-em(21, 14);
			color: $color-dark;

			@include microbe-media($breakpoint-df) {
				white-space: nowrap;
				margin-right: microbe-rem(15);
			}

			@include microbe-media($screen-vw) {
				min-width: vw(150);
				font-size: vw(18);
				margin-right: vw(25);
			}

			@include microbe-media($breakpoint-df, max) {
				flex-basis: 100%;
				text-align: center;
				margin-bottom: microbe-rem(15);
			}
		}

		#{$this}__select {
			flex-grow: 1;
			max-width: microbe-rem(290);

			@include microbe-media($breakpoint-xxs) {
				max-width: initial;
			}
		}

		#{$this}__inner {
			@include microbe-media($breakpoint-df, max) {
				flex-wrap: wrap;
				justify-content: flex-start;
			}
		}

		#{$this}__group {
			display: flex;
			align-items: center;
			flex-basis: 50%;

			&:not(:first-child) {
				@include microbe-media($breakpoint-df) {
					padding-left: vw(30);
				}
			}

			@include microbe-media($breakpoint-df, max) {
				flex-basis: 100%;
				flex-wrap: wrap;
				justify-content: center;
				margin-bottom: microbe-rem(15);
			}
		}
	}

	&--theme-anchors {
		display: flex;
		align-items: safe center;
		justify-content: center;
		padding: microbe-rem(15) 0 microbe-rem(5);
		position: sticky;
		top: 0;
		z-index: 4;

		@include microbe-media($screen-vw) {
			padding: vw(22) 0 vw(15);
		}

		a {
			text-decoration: none;

			&:not([href]) {
				cursor: default;
			}
		}

		#{$this}__anchors {
			display: flex;
			align-items: safe center;
			overflow: auto;
			padding: 0 microbe-rem(10);

			@include microbe-media($screen-vw) {
				padding: 0 vw(10);
			}
		}

		#{$this}__anchor {
			transition: color .2s ease;
			font-size: microbe-rem(14);
			line-height: microbe-em(36, 18);
			font-weight: $font-weight-medium;
			color: $color-black;
			flex-shrink: 0;
			padding-bottom: microbe-rem(10);

			@include microbe-media($breakpoint-md) {
				font-size: microbe-rem(16);
			}

			@include microbe-media($screen-vw) {
				font-size: vw(18);
				padding-bottom: vw(7);
			}

			&:not(:last-child) {
				margin-right: microbe-rem(30);

				@include microbe-media($screen-vw) {
					margin-right: vw(53);
				}
			}

			&.is-active {
				color: $color-accent-darker;
			}

			@media (hover: hover) {
				cursor: pointer;

				&:hover {
					color: $color-accent;
				}

				&:active {
					color: $color-accent-darker;
				}
			}
		}
	}

	&--theme-about {


		#{$this}__anchor {
			&:not(:last-child) {
				margin-right: microbe-rem(20);

				@include microbe-media($screen-vw) {
					margin-right: vw(20);
				}
			}
		}
	}
}
