.page {
	$this: &;

	&--light-header {
		&:not(.page--static-header) {
			.heading-section {
				@include microbe-media($screen-vw) {
					margin-top: vw($header-size-desktop);
					padding-top: vw(20);
				}
			}
		}
	}

	&--static-header {
		.main {
			padding-top: microbe-rem($header-size-mobile);

			@include microbe-media($screen-vw) {
				padding-top: vw($header-size-desktop);
			}
		}

		.heading-section {
			padding-top: microbe-rem(20);

			@include microbe-media($screen-vw) {
				padding-top: vw(20);
			}
		}
	}
}
