.person-slider {
	$this: &;

	position: relative;

	@include microbe-media($breakpoint-sm) {
		padding: 0 microbe-rem(40);
	}

	@include microbe-media($screen-vw) {
		padding: 0;
	}

	.slick-slide {
		margin: 0 microbe-rem(10);

		@include microbe-media($screen-vw) {
			margin: 0 vw(10);
		}
	}

	.slick-list {
		height: auto !important;
	}

	&__list {
		&:not(.slick-initialized) {
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			overflow: hidden;

			> div {
				width: 50%;
				flex-shrink: 0;
				margin: 0 microbe-rem(10);

				@include microbe-media($screen-vw) {
					margin: 0 vw(10);
					width: 20%;
				}
			}
		}
	}

	&__arrows {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		transform: translateY(-50%);
		pointer-events: none;
		display: flex;
		justify-content: space-between;

		@include microbe-media($screen-vw) {
			left: vw(-70);
			right: vw(-70);
		}

		.carousel-arrow {
			width: microbe-rem(45);
			height: microbe-rem(45);
			border-color: $color-accent;

			@include microbe-media($screen-vw) {
				width: vw(64);
				height: vw(64);
			}

			svg {
				fill: $color-accent;
			}

			&--prev {
				margin-right: auto;

				svg {
					margin-right: microbe-rem(2);

					@include microbe-media($screen-vw) {
						margin-right: vw(2);
					}
				}
			}

			&--next {
				margin-left: auto;

				svg {
					margin-left: microbe-rem(2);

					@include microbe-media($screen-vw) {
						margin-left: vw(2);
					}
				}
			}

			@media (hover: hover) {
				&:hover {
					background-color: $color-accent;
					border-color: $color-accent;

					svg {
						fill: $color-white;
					}
				}

				&:focus {
					background-color: $color-accent-darker;
					border-color: $color-accent-darker;

					svg {
						fill: $color-white;
					}
				}
			}
		}
	}
}
