.programs {
	$this: &;

	margin: microbe-rem(77) 0 microbe-rem(65);

	@include microbe-media($screen-vw) {
		margin: vw(77) 0 vw(65);
	}
}

.program {
	$this: &;

	background-color: $color-bg-grey;
	margin-bottom: microbe-rem(42);
	border-radius: microbe-rem(10);
	min-height: microbe-rem(458);
	display: flex;
	overflow: hidden;
	position: relative;
	flex-wrap: wrap;

	@include microbe-media($screen-vw) {
		margin-bottom: vw(42);
		border-radius: vw(10);
		min-height: vw(458);
	}

	&--inverse {
		justify-content: flex-end;

		#{$this}__content {
			order: 1;
			margin-right: 0;
			padding: microbe-rem(30) microbe-rem(20);

			@include microbe-media($breakpoint-sm) {
				padding: microbe-rem(45) microbe-rem(50) microbe-rem(40);
			}

			@include microbe-media($breakpoint-md) {
				margin-left: microbe-rem(10);
			}

			@include microbe-media($screen-vw) {
				margin-left: vw(10);
				margin-right: 0;
				padding: vw(82) vw(35) vw(40) vw(75);
			}
		}

		#{$this}__image {
			order: 0;
			margin-left: 0;

			@include microbe-media($breakpoint-md) {
				margin-right: microbe-rem(10);
			}

			@include microbe-media($breakpoint-md) {
				position: absolute;
				top: 0;
				left: 0;
			}

			@include microbe-media($screen-vw) {
				margin-right: vw(10);
				margin-left: 0;
			}
		}
	}
	&:last-child {
		margin-bottom: 0;
	}

	&__content,
	&__image {
		width: 100%;

		@include microbe-media($breakpoint-md) {
			width: calc(50% - #{microbe-rem(10)});
		}

		@include microbe-media($screen-vw) {
			width: calc(50% - #{vw(10)});
		}
	}

	&__content {
		padding: microbe-rem(30) microbe-rem(20);
		display: flex;
		flex-direction: column;
		justify-content: center;
		order: 1;

		@include microbe-media($breakpoint-sm) {
			padding: microbe-rem(45) microbe-rem(50) microbe-rem(40);
		}

		@include microbe-media($breakpoint-md) {
			margin-right: microbe-rem(10);
			order: 0;
		}

		@include microbe-media($screen-vw) {
			justify-content: flex-start;
			padding: vw(82) vw(35) vw(40) vw(127);
			margin-right: vw(10);
		}
	}

	&__image {
		display: flex;
		align-items: safe center;
		order: 0;
		height: microbe-rem(300);

		@include microbe-media($breakpoint-md) {
			height: 100%;
			margin-left: microbe-rem(10);
			position: absolute;
			top: 0;
			right: 0;
			order: 1;
		}

		@include microbe-media($screen-vw) {
			margin-left: vw(10);
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			max-width: initial;
		}
	}

	&__link {
		display: flex;
		justify-content: flex-start;
		margin-top: microbe-rem(43);

		@include microbe-media($screen-vw) {
			margin-top: vw(43);
		}
	}

	&__title {
		font-size: microbe-rem(18);
		line-height: microbe-em(54, 22);
		color: $color-black;
		font-weight: $font-weight-medium;

		@include microbe-media($breakpoint-md) {
			font-size: microbe-rem(20);
		}

		@include microbe-media($screen-vw) {
			font-size: vw(22);
		}
	}

	&__list {
		list-style-type: none;
		padding-left: 0;
		margin: microbe-rem(12) 0 0;

		@include microbe-media($screen-vw) {
			margin: vw(12) 0 0;
		}
	}

	&__list-item {
		padding-left: microbe-rem(21);
		position: relative;
		color: rgba($color-black, .6);
		font-size: microbe-rem(16);
		line-height: 1.9em;

		&::before {
			content: '';
			position: absolute;
			border-radius: 50%;
			left: 0;
			width: microbe-rem(7);
			height: microbe-rem(7);
			top: microbe-rem(10);
			background-color: $color-accent;

			@include microbe-media($screen-vw) {
				width: vw(7);
				height: vw(7);
				top: vw(12);
			}
		}

		@include microbe-media($screen-vw) {
			font-size: vw(18);
			padding-left: vw(21);
		}
	}
}
