.quality-control {
	$this: &;

	&__content {
		display: flex;
		flex-direction: column;
		align-items: safe center;
	}

	&__title {
		font-size: microbe-rem(30);
		line-height: microbe-em(54, 48);
		color: $color-black;
		font-weight: $font-weight-medium;
		text-align: center;
		padding-bottom: microbe-rem(15);

		@include microbe-media($breakpoint-df) {
			font-size: microbe-rem(36);
			padding-bottom: microbe-rem(20);
		}

		@include microbe-media($screen-vw) {
			font-size: vw(48);
			padding-bottom: vw(25);
		}
	}

	&__description {
		font-size: microbe-rem(16);
		line-height: microbe-em(30, 20);
		color: $color-black;
		text-align: center;
		max-width: microbe-rem(735);
		margin-bottom: microbe-rem(30);

		@include microbe-media($breakpoint-df) {
			font-size: microbe-rem(18);
			margin-bottom: microbe-rem(35);
		}

		@include microbe-media($screen-vw) {
			font-size: vw(20);
			max-width: vw(735);
			margin-bottom: vw(42);
		}
	}

	&__form {
		width: 100%;
	}

	&__info {
		color: rgba($color-text-4, .6);
		line-height: 1.4em;
		font-size: microbe-rem(15);
		max-width: microbe-rem(420);
		text-align: center;
		padding-top: microbe-rem(10);

		@include microbe-media($screen-vw) {
			font-size: vw(15);
			max-width: vw(420);
			padding-top: vw(10);
		}
	}
}
