.report {
	$this: &;

	align-items: center;
	background-color: $color-white;
	border-radius: microbe-rem(10);
	padding: microbe-rem(20) microbe-rem(40);
	transition: box-shadow 400ms ease;

	&:not(:last-child),
	&:not(:only-child) {
		margin: microbe-rem(20) 0;

		@include microbe-media($screen-vw) {
			margin: vw(20) 0;
		}
	}

	@include microbe-media($screen-vw) {
		border-radius: vw(10);
		padding: vw(42) vw(93) vw(42) vw(42);
	}

	@media (hover: hover) {
		&:hover {
			box-shadow: 0 microbe-rem(4) microbe-rem(4) rgba($color-black, .15);

			@include microbe-media($screen-vw) {
				box-shadow: 0 vw(4) vw(4) rgba($color-black, .15);
			}
		}
	}

	&__name {
		font-weight: $font-weight-medium;
		font-size: microbe-rem(18);
		line-height: microbe-em(25, 18);
		color: $color-dark;
	}

	&__date {
		flex-shrink: 0;
	}

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		width: microbe-rem(57);
		height: microbe-rem(57);
		border-radius: 50%;
		background-color: $color-light;
		transition: background-color 300ms ease;
		flex-shrink: 0;

		@include microbe-media($screen-vw) {
			width: vw(57);
			height: vw(57);
		}

		svg {
			transition: fill 400ms ease;
			fill: $color-accent-darker;
		}

		@media(hover: hover) {
			&:hover {
				background-color: $color-accent-darker;

				svg {
					fill: $color-white;
				}
			}

			&:active {
				background-color: rgba($color-accent-darker, 0.5);
			}
		}
	}

	&--theme-date {
		display: grid;

		@include microbe-media($breakpoint-md, max) {
			grid-gap: microbe-rem(20);
			grid-template-columns: 12fr;
			grid-template-rows: repeat(2, 1fr);
			grid-template-areas:
		  "a a a"
		  "b b c";
		}

		@include microbe-media($breakpoint-md) {
			grid-template-columns: 8fr 4fr;
		}

		@include microbe-media($screen-vw) {
			grid-template-columns: minmax(500px, 855px) minmax(140px, 278px);
			grid-gap: vw(20);
		}

		#{$this}__name {
			@include microbe-media($breakpoint-md, max) {
				grid-area: a;
			}
		}

		#{$this}__date {
			@include microbe-media($breakpoint-md, max) {
				grid-area: b;
			}
		}

		#{$this}__icon {
			@include microbe-media($breakpoint-md, max) {
				grid-area: c;
			}
		}
	}

	&--theme-info {
		display: flex;
		justify-content: space-between;
	}
}
