.services {
	$this: &;

	margin: microbe-rem(35) 0 0;
	display: flex;
	align-items: safe center;
	position: relative;
	justify-content: center;
	width: 100%;

	&::before {
		content: '';
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		border-bottom: 1px dashed rgba(#101010, .2);
		left: 0;
		width: 100%;
	}

	@include microbe-media($breakpoint-df) {
		margin: 0;
		padding: 0 microbe-rem(60);
		display: block;

		&::before {
			content: none;
		}
	}

	@include microbe-media($screen-vw) {
		padding:  0 vw(123) 0 vw(120);
	}
}

.service {
	$this: &;

	display: flex;
	align-items: safe center;
	justify-content: center;
	width: 100%;
	color: rgba($color-text-1, .5);
	transition: color .2s ease;

	@include microbe-media($breakpoint-df) {
		justify-content: space-between;
	}

	&.is-active {
		color: $color-accent-dark;

		#{$this}__icon {
			background-color: $color-white;
			border-color: rgba(#63AAA9, .5);
			box-shadow: 0 microbe-rem(0) microbe-rem(26) rgba($color-black, .1);

			@include microbe-media($screen-vw) {
				box-shadow: 0 vw(0) vw(26) rgba($color-black, .1);
			}
		}
	}

	&__path {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: microbe-rem(45);
		height: microbe-rem(45);

		svg {
			width: 100% !important; // sass-lint:disable-line no-important
			height: 100% !important; // sass-lint:disable-line no-important
			transform: rotate(-90deg);
		}

		@include microbe-media($breakpoint-xs) {
			width: microbe-rem(60);
			height: microbe-rem(60);
		}

		@include microbe-media($screen-vw) {
			width: vw(84);
			height: vw(84);
		}
	}

	@media (hover: hover) {
		cursor: pointer;

		&:hover {
			color: $color-accent-dark;

			#{$this}__icon {
				background-color: $color-white;
				border-color: rgba(#63AAA9, .5);
				box-shadow: 0 microbe-rem(0) microbe-rem(26) rgba($color-black, .1);

				@include microbe-media($screen-vw) {
					box-shadow: 0 vw(0) vw(26) rgba($color-black, .1);
				}
			}
		}
	}

	&:not(:last-child) {
		margin-right: microbe-rem(15);

		@include microbe-media($breakpoint-xs) {
			margin-right: microbe-rem(30);
		}

		@include microbe-media($breakpoint-df) {
			margin-right: 0;
			margin-bottom: microbe-rem(30);

			#{$this}__icon {
				z-index: 1;

				&::before {
					content: '';
					position: absolute;
					top: calc(100% + #{microbe-rem(5)});
					left: 50%;
					height: microbe-rem(35);
					transform: translateX(-50%);
					width: 1px;
					border-left: 1px dashed rgba(#101010, .2);
					z-index: -1;
				}
			}
		}

		@include microbe-media($screen-vw) {
			margin-bottom: vw(48);

			#{$this}__icon {
				&::before {
					top: calc(100% + #{vw(5)});
					height: vw(45);
					transform: translateX(-50%);
				}
			}
		}
	}

	&__title {
		margin-right: microbe-rem(25);
		font-size: microbe-rem(16);
		line-height: 1.4em;
		color: currentColor;
		font-weight: $font-weight-medium;
		display: none;

		@include microbe-media($breakpoint-df) {
			margin-right: microbe-rem(20);
			font-size: microbe-rem(20);
			display: initial;
		}

		@include microbe-media($screen-vw) {
			margin-right: vw(25);
			font-size: vw(26);
		}
	}

	&__icon {
		flex-shrink: 0;
		width: microbe-rem(45);
		height: microbe-rem(45);
		border-radius: 50%;
		display: flex;
		align-items: safe center;
		justify-content: center;
		border: microbe-rem(5) solid transparent;
		transition: border-color .2s ease, box-shadow .2s ease, background-color .2s ease;
		position: relative;
		box-shadow: none;
		background-color: $color-white;

		@include microbe-media($breakpoint-xs) {
			width: microbe-rem(60);
			height: microbe-rem(60);
		}

		@include microbe-media($breakpoint-df) {
			background-color: transparent;
		}

		@include microbe-media($screen-vw) {
			width: vw(84);
			height: vw(84);
			border-width: vw(5);
		}

		svg {
			width: microbe-rem(20);
			height: microbe-rem(20);
			fill: $color-accent-darker;

			@include microbe-media($breakpoint-xs) {
				width: microbe-rem(25);
				height: microbe-rem(25);
			}

			@include microbe-media($screen-vw) {
				width: vw(41);
				height: vw(41);
			}
		}
	}
}
