.share-links {
	$this: &;

	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;

	@include microbe-media($screen-vw) {
		flex-direction: column;
		position: absolute;
		right: calc(100% + #{microbe-rem(131)});
	}

	&__item {
		margin: 0 microbe-rem(10) microbe-rem(30) 0;

		@include microbe-media($screen-vw) {
			margin: 0 0 vw(10);
		}
	}

	&__link {
		padding: 0;
		width: microbe-rem(36);
		height: microbe-rem(36);
		display: inline-flex;
		justify-content: center;
		align-items: center;
		background-color: transparent;
		border: 1px solid $color-accent;
		outline: none;
		border-radius: 50%;
		transition: background-color 400ms ease;

		@media(hover:hover) {
			&:hover {
				background-color: $color-accent;

				svg {
					fill: $color-white;
				}
			}
		}

		@include microbe-media($screen-vw) {
			width: vw(26);
			height: vw(26);
		}

		svg {
			fill: $color-accent;
			transition: fill 400ms ease;
		}
	}
}
