.sitemap {
	$this: &;

	ul {
		list-style-type: none;
		padding-left: 0;
		counter-reset: sitemap;
		width: 100%;

		ul {
			padding-top: microbe-rem(8);
			padding-left: microbe-rem(30);

			@include microbe-media($screen-vw) {
				padding-top: vw(8);
				padding-left: vw(30);
			}
		}

		li {
			margin-bottom: microbe-rem(8);
			display: flex;
			flex-wrap: wrap;

			@include microbe-media($screen-vw) {
				margin-bottom: vw(8);
			}

			&::before {
				float: left;
				content: counters(sitemap,".") "";
				counter-increment: sitemap;
				display: block;
				color: $color-white;
				background-color: $color-accent-darker;
				line-height: 1.4em;
				padding: microbe-rem(4) microbe-rem(10);
				font-size: microbe-rem(14);

				@include microbe-media($screen-vw) {
					padding: vw(4) vw(10);
					font-size: vw(14);
				}
			}

			a {
				padding: microbe-rem(4) microbe-rem(6);
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				font-size: microbe-rem(14);
				line-height: 1.4em;
				color: $color-black;
				transition: color .2s ease-out, background-color .2s ease-out, box-shadow .2s ease-out;
				text-decoration: none;
				display: block;
				flex-grow: 1;
				background-color: transparent;

				@media (hover: hover) {
					&:hover {
						color: $color-accent-darker;
						background-color: $color-white;
						box-shadow: 0 0 microbe-rem(5) microbe-rem(-7) rgba($color-black, .2);
					}

					&:active {
						color: $color-accent-darker;
						background-color: transparent;
					}
				}

				@include microbe-media($screen-vw) {
					padding: vw(4) vw(6);
					font-size: vw(14);

					@media (hover: hover) {
						&:hover {
							box-shadow: 0 0 vw(5) vw(-7) rgba($color-black, .2);
						}
					}
				}
			}
		}
	}
}
