.socials-widget {
	$this: &;

	position: fixed;
	right: microbe-rem(20);
	bottom: microbe-rem(20);
	transition: opacity .2s ease;
	z-index: 20;

	&.is-hidden {
		opacity: 0;
		pointer-events: none;
	}

	@include microbe-media($screen-vw) {
		right: vw(54);
		bottom: vw(86);
	}

	&__button {
		outline: none;
		cursor: pointer;
		width: microbe-rem(48);
		height: microbe-rem(48);
		border: 2px solid $color-accent-2;
		background-color: $color-accent-2;
		color: $color-white;
		border-radius: 50%;
		display: flex;
		align-items: safe center;
		justify-content: center;
		padding: 0;
		transition: background-color .2s ease, color .2s ease, border-color .2s ease;

		&::before,
		&::after {
			content: '';
			position: absolute;
			left: 50%;
			transform: translate(-50%, -50%) scale(0);
			top: 50%;
			border-radius: 50%;
			border: 1px solid $color-accent-2;
			animation: socials-button-pulse 1.75s ease 2.5s infinite;
			z-index: -1;
		}

		&::before {
			width: microbe-rem(60);
			height: microbe-rem(60);

			@include microbe-media($screen-vw) {
				width: vw(82);
				height: vw(82);
			}
		}

		&::after {
			width: microbe-rem(75);
			height: microbe-rem(75);

			@include microbe-media($screen-vw) {
				width: vw(107);
				height: vw(107);
			}
		}

		#{$this}.is-active & {
			background-color: $color-white;
			border-color: $color-accent-2;
			color: $color-accent-2;

			&::before,
			&::after {
				display: none;
			}
		}

		@media (hover: hover) {
			&:hover {
				background-color: $color-white;
				border-color: $color-accent-2;
				color: $color-accent-2;
			}

			&:active {
				background-color: $color-white;
				border-color: $color-accent-2-darker;
				color: $color-accent-2-darker;
			}
		}

		@include microbe-media($screen-vw) {
			width: vw(64);
			height: vw(64);
		}

		svg {
			fill: currentColor;
			width: microbe-rem(24);
			height: microbe-rem(24);

			@include microbe-media($screen-vw) {
				width: vw(31);
				height: vw(31);
			}
		}
	}

	&__link {
		position: absolute;
		z-index: -1;
		width: microbe-rem(35);
		height: microbe-rem(35);
		border-radius: 50%;
		display: flex;
		align-items: safe center;
		justify-content: center;
		transition: transform .2s ease, opacity .2s ease, border .05s ease;
		color: $color-white;
		opacity: 0;
		pointer-events: none;

		@include microbe-media($screen-vw) {
			width: vw(60);
			height: vw(60);
		}

		svg {
			fill: currentColor;
			width: microbe-rem(25);
			height: microbe-rem(25);

			@include microbe-media($screen-vw) {
				width: vw(38);
				height: vw(40);
			}
		}

		&--theme-fb {
			background-image: radial-gradient(108.96% 108.95% at 19.25% 99.45%, #0099FF 0%, #A033FF 60.98%, #FF5280 93.48%, #FF7061 100%);

			@media (hover: hover) {
				&:hover {
					border: 2px solid $color-white;
				}

				&:active {
					border: 2px solid $color-white;
				}
			}
		}

		&--theme-viber {
			background-color: #675DA9;

			@media (hover: hover) {
				&:hover {
					border: 2px solid $color-white;
				}

				&:active {
					border: 2px solid #564C8E;
					background-color: #564C8E;
				}
			}
		}
	}

	&.is-active {
		#{$this}__link {
			&--theme-fb {
				transform: translate(-100%, -50%);
				opacity: 1;
				pointer-events: all;
			}

			&--theme-viber {
				transform: translate(-100%, 70%);
				opacity: 1;
				pointer-events: all;
			}
		}
	}
}
