.table {
	$this: &;

	&--theme-details {
		padding: microbe-rem(20) microbe-rem(30);
		background-color: $color-white;
		border-radius: microbe-rem(10);

		@include microbe-media($screen-vw) {
			padding: vw(44) vw(60) vw(30) vw(47);
			border-radius: vw(10);
		}

		#{$this}__row {
			display: grid;
			grid-gap: microbe-rem(20);
			padding: microbe-rem(20) microbe-rem(10);

			@include microbe-media($breakpoint-sm, max) {
				&:not(:last-child),
				&:not(:only-child){
					border-bottom: 1px solid rgba(242, 242, 243, 1);
				}
			}

			@include microbe-media($breakpoint-sm) {
				grid-template-columns: 31% 65%;
				padding: microbe-rem(14) microbe-rem(18) microbe-rem(21);

				&:nth-child(even) {
					background-color: rgba(#F2F2F3, 0.5);
				}
			}

			@include microbe-media($screen-vw) {
				grid-gap: vw(20);
			}
		}

		#{$this}__cell {
			display: flex;
			align-items: center;
			color: $color-black;
			font-size: microbe-rem(14);
			line-height: microbe-em(17, 14);

			@include microbe-media($screen-vw) {
				font-size: vw(14);
			}

			p {
				margin: 0;
			}

			&--left {
				@include microbe-media($breakpoint-sm, max) {
					font-weight: $font-weight-medium;
				}

				@include microbe-media($breakpoint-sm) {
					color: $color-grey-dark;
				}
			}

			&--right {
				@include microbe-media($breakpoint-sm, max) {
					color: $color-grey-dark;
				}

				@include microbe-media($breakpoint-sm) {
					font-weight: $font-weight-medium;
				}
			}
		}
	}

	&--theme-agents {
		background-color: $color-white;
		border-radius: microbe-rem(10);
		padding: microbe-rem(10);

		@include microbe-media($breakpoint-sm) {
			padding: microbe-rem(30) microbe-rem(20);
		}

		@include microbe-media($screen-vw) {
			padding: vw(59) vw(60) vw(49) vw(52);
			border-radius: vw(10);
		}

		#{$this}__row {
			display: flex;
			border-left: 1px solid #EDEDED;
			border-right: 1px solid #EDEDED;

			&:first-child {
				border-top: 1px solid #EDEDED;
				border-bottom: 1px solid #EDEDED;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;

				#{$this}__cell {
					font-weight: $font-weight-medium;
					padding: microbe-rem(16) microbe-rem(15) microbe-rem(14);

					@include microbe-media($breakpoint-sm) {
						padding: microbe-rem(18) microbe-rem(30) microbe-rem(16);
					}

					@include microbe-media($screen-vw) {
						padding: vw(26) vw(40) vw(21);
					}
				}
			}

			&:last-child {
				border-bottom: 1px solid #EDEDED;
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
			}

			&:not(:first-child) {
				background-color: rgba(#F2F2F3, 0.5);

				&:nth-child(even) {
					background-color: $color-white;
				}

				#{$this}__cell {
					&--right {
						color: $color-grey-dark;
					}
				}
			}
		}

		#{$this}__cell {
			display: flex;
			align-items: center;
			flex-basis: 50%;
			font-size: microbe-rem(14);
			line-height: microbe-em(17, 14);
			padding: microbe-rem(16) microbe-rem(15) microbe-rem(14);

			@include microbe-media($breakpoint-sm) {
				padding: microbe-rem(22) microbe-rem(30) microbe-rem(18);
			}

			@include microbe-media($screen-vw) {
				padding: vw(32) vw(40) vw(26);
				font-size: vw(14);
			}

			p {
				margin: 0;
			}
		}
	}
}
