.tabs {
	position: relative;

	&--blog {

		.slick-slide {
			margin: 0 10px;

			@media(max-width: 1024px) {
				margin: 0 5px;
			}
		}

		.slick-list {
			margin: 0 -10px;

			@media(max-width: 1024px) {
				margin: 0 -5px;
			}
		}
	}

	&--slider {
		height: microbe-rem(466);

		@include microbe-media($screen-vw) {
			height: vw(466);
		}
	}

	&__carousel {
		position: relative;
		opacity: 0;

		&.is-initialized {
			opacity: 1;
			transition: opacity 0.25s ease;
		}

		&--partner {

			.slick-list {
				margin: 0;
			}

			.slick-track {

				.slick-slide {
					margin: 0;

					.partner-item {
						position: relative;

						&::before {
							content: '';
							position: absolute;
							top: 12.38%;
							bottom: 12.38%;
							left: 100%;
							border-right: 1px dashed rgba($color-grey-4, 0.2);
						}
					}

					&:last-child {
						.partner-item {
							&::before {
								content: initial;
							}
						}
					}
				}
			}
		}

	}

	&__carousel-arrows {
		display: flex;
		justify-content: space-between;
		position: absolute;
		width: calc(100% + 200px);
		bottom: 42%;
		left: 50%;
		transform: translateX(-50%);
		pointer-events: none;

		@media(max-width: 1280px) {
		    position: relative;
			justify-content: center;
			width: 100%;
			margin-top: 30px;

			.carousel-arrow {
				margin: 0 10px;
			}
		}

		@media(max-width: 1024px) {
			margin-top: 15px;
		}

	}

}
