.tooltip {
	$this: &;

	&--theme-branches {
		background-color: $color-white;
		color: $color-black;
		border-radius: microbe-rem(10);
		padding: microbe-rem(10);
		font-style: normal;
		position: relative;
		width: microbe-rem(150);

		@include microbe-media($breakpoint-sm) {
			width: microbe-rem(200);
			padding: microbe-rem(20) microbe-rem(25);
		}

		@include microbe-media($breakpoint-df) {
			width: microbe-rem(240);
			border-radius: microbe-rem(16);
			padding: microbe-rem(24) microbe-rem(35) microbe-rem(29) microbe-rem(45);
		}

		[data-placement="bottom"] & {
			&::before {
				top: initial;
				bottom: calc(100% - 2px);
				transform: translate(-50%, 50%) rotate(-135deg);
			}
		}

		&::before {
			content: none;
			position: absolute;
			left: 50%;
			top: calc(100% - 2px);
			transform-origin: center;
			transform: translate(-50%, -50%) rotate(45deg);
			border: {
				top: microbe-rem(10) solid transparent;
				left: microbe-rem(10) solid transparent;
				bottom: microbe-rem(10) solid $color-white;
				right: microbe-rem(10) solid $color-white;
			}

			@include microbe-media($breakpoint-df) {
				content: '';
			}

			@include microbe-media($screen-vw) {
				border: {
					top: vw(10) solid transparent;
					left: vw(10) solid transparent;
					bottom: vw(10) solid $color-white;
					right: vw(10) solid $color-white;
				}
			}
		}

		@include microbe-media($screen-vw) {
			width: vw(240);
			border-radius: vw(16);
			padding: vw(24) vw(35) vw(29) vw(45);
		}

		#{$this}__address {
			font-size: microbe-rem(14);
			line-height: microbe-em(22, 16);

			@include microbe-media($breakpoint-df) {
				font-size: microbe-rem(16);
			}

			@include microbe-media($screen-vw) {
				font-size: vw(16);
			}
		}

		#{$this}__email,
		#{$this}__phones,
		#{$this}__phone {
			display: flex;
			align-items: safe center;
			font-size: microbe-rem(12);
			line-height: microbe-em(22, 16);
			transition: color .2s ease;
			text-decoration: none;
			color: inherit;
			width: 100%;

			@include microbe-media($breakpoint-sm) {
				font-size: microbe-rem(14);
			}

			span {
				word-break: break-word;
			}

			@include microbe-media($breakpoint-df) {
				font-size: microbe-rem(16);
			}

			@include microbe-media($screen-vw) {
				font-size: vw(16);
			}

			@media (hover: hover) {
				&:hover {
					color: $color-accent;
				}

				&:active {
					color: $color-accent-darker;
				}
			}

			svg {
				width: microbe-rem(10);
				height: microbe-rem(10);
				flex-shrink: 0;
				fill: $color-accent;
				margin-right: microbe-rem(4);

				@include microbe-media($breakpoint-sm) {
					width: microbe-rem(14);
					height: microbe-rem(14);
					margin-right: microbe-rem(8);
				}

				@include microbe-media($screen-vw) {
					width: vw(14);
					height: vw(14);
					margin-right: vw(8);
				}
			}
		}

		#{$this}__phone {
			font-weight: $font-weight-bold;
			white-space: nowrap;
		}

		#{$this}__phones {
			margin-bottom: microbe-rem(6);
			align-items: safe flex-start;

			@include microbe-media($screen-vw) {
				margin-bottom: vw(6);
			}

			svg {
				margin-top: microbe-rem(3);

				@include microbe-media($screen-vw) {
					margin-top: vw(3);
				}
			}
		}

		#{$this}__schedule {
			display: flex;
			align-items: safe flex-start;
			font-size: microbe-rem(11);
			line-height: microbe-em(13, 11);
			color: $color-black;

			@include microbe-media($screen-vw) {
				font-size: vw(11);
			}

			svg {
				fill: $color-accent;
				margin-right: microbe-rem(4);
				margin-top: microbe-rem(3);
				width: microbe-rem(10);
				height: microbe-rem(10);
				flex-shrink: 0;

				@include microbe-media($breakpoint-sm) {
					width: microbe-rem(15);
					height: microbe-rem(15);
					margin-right: microbe-rem(15);
				}

				@include microbe-media($screen-vw) {
					margin-top: vw(3);
					margin-right: vw(15);
					width: vw(15);
					height: vw(15);
				}
			}
		}
	}
}
