//
// @group _blocks/wysiwyg
//

// Описание

.wysiwyg {
	$root: &;
	$gap: microbe-rem(10);

	font-size: 12px;
	line-height: 1.3;
	letter-spacing: 10 / 1000 * 12px;
	position: relative;
	color: $color-grey;

	@include microbe-media($breakpoint-ms) {
		font-size: 14px;
		line-height: 1.3;
		letter-spacing: 10 / 1000 * 14px;
	}

	@include microbe-media($breakpoint-df) {
		font-size: 15px;
		line-height: microbe-rem(20);
		letter-spacing: 10 / 1000 * 15px;
	}

	@include microbe-media($breakpoint-lg) {
		font-size: microbe-rem(18);
		line-height: microbe-rem(34);
		letter-spacing: 10 / 1000 * 16px;
	}

	&::before,
	&::after {
		content: '';
		clear: both;
		display: block;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		letter-spacing: 50 / 1000 * 18px;

		span {
			letter-spacing: 50 / 1000 * 18px;
			font-weight: inherit;
		}
	}

	h1 {
		color: $color-dark;
		font-weight: 400;
		font-size: microbe-rem(36);
	}

	p {
		font-size: microbe-rem(14);
		color: $color-grey;
		line-height: 1.7;
		margin: 10px 0 20px;
	}

	ul,
	ol,
	dl,
	pre,
	blockquote,
	address,
	.ratio-wrapper {
		margin: $gap 0;

		@include microbe-media($breakpoint-ms, max) {
			margin: 10px 0;
		}

		&._clear {
			&::before,
			&::after {
				content: '';
				display: block;
				clear: both;
			}
		}
	}

	table {
		border: 1px solid $color-light;
		border-collapse: collapse;
		width: 100%;
		vertical-align: top;

		p,
		ul,
		ol,
		dl,
		pre,
		table,
		blockquote,
		address {
			margin: 0;
		}

		&.table-null {
			border: none;
		}

		&.table-zebra {
			tr {
				border: none;

				&:nth-child(even) {
					background-color: rgba($color-light, .2);
				}
			}

			td {
				border: none;
			}
		}
	}

	thead,
	tfoot,
	tbody,
	tr,
	th,
	td {
		border: inherit;
		vertical-align: inherit;
	}

	th,
	td {
		padding: microbe-rem(8px);
	}

	figure {
		margin-left: 0;
		margin-right: 0;
		padding: 1microbe-rem;
		text-align: center;
		border: 1px solid;
		box-sizing: border-box;

		p {
			margin: 0;
		}
	}

	figcaption {
		padding-top: .5microbe-rem;
		font-style: italic;
	}

	blockquote {
		padding: 7px microbe-rem(15) 7px microbe-rem(32);
		border: none;
		position: relative;
		color: $color-light;
		background-color: transparent;
		font-size: microbe-rem(14);
		line-height: microbe-rem(21);
		letter-spacing: 25 / 1000 * 14px;
		font-weight: 500;
		margin-bottom: microbe-rem(52);

		&::before {
			content: '';
			position: absolute;
			top: 9px;
			bottom: 12px;
			left: 0;
			width: 2px;
			background-color: $color-light;
		}

		p {
			padding: 0;
			margin: 0;

			& + p {
				margin-top: microbe-rem(15);
			}
		}
	}

	pre {
		border-radius: .3em;
		text-shadow: 0 1px $color-white;
		font-family: $font-family-code;
		background-color: #fdf6e3;
		tab-size: 4;
	}

	:not(pre) > code,
	kbd,
	samp {
		border-radius: .3em;
		text-shadow: 0 1px #fff;
		font-family: $font-family-code;
		padding: .1em 6px;
		white-space: normal;
		hyphens: none;
		tab-size: 4;
		word-spacing: normal;
		word-break: normal;
		word-wrap: normal;
		text-align: left;
	}

	:not(pre) > code {
		background-color: #fdf6e3;
	}

	kbd {
		background-color: #e5e5fb;
	}

	samp {
		background-color: #fde6e3;
	}

	dt {
		font-weight: bold;
	}

	dd + dt {
		margin-top: $gap / 2;
	}

	a {
		&:not(.button) {
			color: #868a95;
			text-decoration: underline;

			&:hover {
				text-decoration: underline;
				color: $color-black;
			}

			&:active {
				color: $color-light;
			}
		}

		&[href^="//"],
		&[href^="http://"],
		&[href^="https://"] {
			&[target="_blank"] {
				background: url(/assets/css/static/pic/external-link-hover.svg) top left / 0 no-repeat, url(/assets/css/static/pic/external-link-active.svg) top left / 0 no-repeat;

				&::after {
					content: "";
					width: 1em;
					height: 1em;
					margin-left: 1px;
					display: inline-block;
					vertical-align: middle;
					background: url(/assets/css/static/pic/external-link.svg) no-repeat;
					background-size: contain;
				}

				&:hover {
					&::after {
						background-image: url(/assets/css/static/pic/external-link-hover.svg);
					}
				}

				&:active {
					&::after {
						background-image: url(/assets/css/static/pic/external-link-active.svg);
					}
				}
			}
		}

		&[href^="mailto:"] {
			&::before {
				content: "\2709\00a0";
			}
		}

		&[href^="tel:"] {
			&::before {
				content: "\2706\00a0";
			}
		}
	}

	> :first-child {
		margin-top: 0;
	}

	> :last-child {
		margin-bottom: 0;
	}

	ol {
		word-break: break-word;
		list-style-position: inside;
		padding-left: microbe-rem(50);

		@include microbe-media($screen-vw) {
			padding-left: vw(50);
		}

		li {
			position: relative;
			font-size: microbe-rem(16);
			line-height: microbe-em(26, 15);

			@include microbe-media($screen-vw) {
				font-size: vw(16);
			}
		}
	}

	ul {
		padding: 0;
		margin: 0;
		list-style-type: none;
		padding-left: microbe-rem(50);

		@include microbe-media($screen-vw) {
			padding-left: vw(50);
		}

		li {
			word-break: break-word;
			position: relative;
			padding-left: microbe-rem(14);
			font-size: microbe-rem(16);
			line-height: microbe-em(26, 15);

			@include microbe-media($screen-vw) {
				font-size: vw(16);
				padding-left: vw(14);
			}

			&::before {
				content: '';
				position: absolute;
				left: 0;
				top: microbe-rem(10);
				width: microbe-rem(7);
				height: microbe-rem(7);
				background-color: $color-accent;
				border-radius: 50%;

				@include microbe-media($screen-vw) {
					top: vw(10);
					width: vw(7);
					height: vw(7);
				}
			}
		}
	}

	img {
		max-width: 100%;

		@include microbe-media($breakpoint-df) {
			height: auto;
		}

		@include microbe-media($breakpoint-df) {
			&:not([src*="loader"]):not([src*="empty"]) {
				height: auto;
			}
		}
	}

	&--main {

		#{$root}__body {
			max-height: microbe-rem(186);
			overflow: auto;


			@include microbe-media($screen-vw) {
				max-height: vw(186);
				padding-right: vw(15);
			}

			/* width */
			&::-webkit-scrollbar {
				width: microbe-rem(5);

				@include microbe-media($screen-vw) {
					width: vw(5);
				}
			}

			/* Track */
			&::-webkit-scrollbar-track {
				background: transparent;
				border-radius: microbe-rem(10);

				@include microbe-media($screen-vw) {
					border-radius: vw(10);
				}
			}

			/* Handle */
			&::-webkit-scrollbar-thumb {
				background: $color-grey-3;
				border-radius: microbe-rem(10);

				@include microbe-media($screen-vw) {
					border-radius: vw(10);
				}
			}

			/* Handle on hover */
			&::-webkit-scrollbar-thumb:hover {
				background: $color-grey-3;
				border-radius: microbe-rem(10);

				@include microbe-media($screen-vw) {
					border-radius: vw(10);
				}
			}
		}
	}

	&--theme-default {
		color: rgba($color-black, 0.6);

		p {
			font-size: microbe-rem(18);
			line-height: microbe-em(30, 16);
			color: rgba($color-black, 0.6);

			span {
				font-family: inherit !important;
				color: inherit !important;
			}

			&:not(:last-child) {
				margin-bottom: microbe-rem(27);

				@include microbe-media($screen-vw) {
					margin-bottom: vw(27);
				}
			}

			@include microbe-media($screen-vw) {
				font-size: vw(18);
			}
		}

		img {
			&:only-child {
				margin: microbe-rem(28) 0 microbe-rem(14);

				@include microbe-media($screen-vw) {
					margin: vw(28) 0 vw(14);
				}
			}

			&:not(:last-child) {
				margin: 0 0 microbe-rem(14);

				@include microbe-media($screen-vw) {
					margin: 0 0 vw(14);
				}
			}
		}
	}

	&--theme-about {
		color: rgba($color-black, 0.6);

		p {
			font-size: microbe-rem(12);
			line-height: microbe-em(30, 16);
			color: rgba($color-black, 0.6);

			span {
				font-family: inherit !important;
				color: inherit !important;
			}

			&:not(:last-child) {
				margin-bottom: microbe-rem(15);

				@include microbe-media($screen-vw) {
					margin-bottom: vw(27);
				}
			}

			@include microbe-media($screen-vw) {
				font-size: vw(16);
			}
		}
	}

	&--theme-info {
		color: rgba($color-black, 0.6);

		h1, h2, h3, h4, h5, h6 {
			font-weight: $font-weight-medium;
			margin-bottom: microbe-rem(10);
			color: #323234;

			@include microbe-media($screen-vw) {
				margin-bottom: microbe-rem(10);
			}

			+ p {
				margin-top: 0 !important;
			}
		}

		p {
			font-size: microbe-rem(14);
			line-height: microbe-em(22, 16);
			color: rgba($color-black, 0.6);

			@include microbe-media($screen-vw) {
				font-size: vw(16);
			}

			span {
				font-family: inherit !important;
				color: inherit !important;
			}

			&:not(:last-child) {
				margin-bottom: microbe-rem(10);

				@include microbe-media($screen-vw) {
					margin-bottom: vw(18);
				}
			}
		}

		ul {
			padding-left: 0 !important;

			li {
				&:not(:last-child) {
					margin-bottom: microbe-rem(10);

					@include microbe-media($screen-vw) {
						margin-bottom: vw(20);
					}
				}
			}
		}
	}

	&--theme-service {
		font-size: microbe-rem(13);
		line-height: 1.75em;
		color: rgba($color-black, .6);

		@include microbe-media($screen-vw) {
			font-size: vw(15);
		}

		p {
			line-height: 1.75em;
			font-size: microbe-rem(13);
			color: rgba($color-black, .6);
			margin: microbe-rem(11) 0 microbe-rem(9);

			@include microbe-media($screen-vw) {
				font-size: vw(15);
				margin: vw(11) 0 vw(9);
			}

			strong {
				line-height: 1.6em;
				font-weight: $font-weight-medium;
				color: $color-black;
				font-size: microbe-rem(12);

				@include microbe-media($screen-vw) {
					font-size: vw(14);
				}
			}
		}

		*:first-child {
			margin-top: 0;
		}

		*:last-child {
			margin-bottom: 0;
		}

		ul {
			padding-left: 0;
			list-style-type: none;
			margin: 0;

			li {
				position: relative;
				padding-left: microbe-rem(13);
				line-height: 1.3em;

				@include microbe-media($screen-vw) {
					padding-left: vw(13);
				}

				&:not(:last-child) {
					margin-bottom: microbe-rem(7);

					@include microbe-media($screen-vw) {
						margin-bottom: vw(7);
					}
				}

				&::before {
					content: '';
					position: absolute;
					left: 0;
					top: microbe-rem(9);
					width: microbe-rem(7);
					height: microbe-rem(7);
					border-radius: 50%;
					background-color: $color-accent;
					margin-left: 0;

					@include microbe-media($screen-vw) {
						top: vw(9);
						width: vw(7);
						height: vw(7);
					}
				}
			}
		}
	}
}
