@keyframes search-svg-mobile {
	from {
		stroke-dashoffset: 0;
	}

	to {
		stroke-dashoffset: microbe-rem(85);
	}
}

@keyframes search-svg {
	from {
		stroke-dashoffset: 0;
	}

	to {
		stroke-dashoffset: vw(85);
	}
}

@keyframes search-svg-forward {
	from {
		stroke-dashoffset: vw(85);
	}

	to {
		stroke-dashoffset: 0;
	}
}

@keyframes search-svg-forward-mobile {
	from {
		stroke-dashoffset: microbe-rem(85);
	}

	to {
		stroke-dashoffset: 0;
	}
}

@keyframes socials-button-pulse {
	0% {
		transform: translate(-50%, -50%) scale(0);
		opacity: 1;
	}

	50% {
		transform: translate(-50%, -50%) scale(0.5);
	}

	75% {
		opacity: 1;
	}

	100% {
		transform: translate(-50%, -50%) scale(1);
		opacity: 0;
	}
}

@keyframes pulse-button-bg {
	from {
		width: 100%;
		height: 100%;
		opacity: 1;
	}

	to {
		width: calc(100% + #{microbe-rem(25)});
		height: calc(100% + #{microbe-rem(25)});
		opacity: 0;
	}
}

@keyframes scale-from-opacity {
	from {
		opacity: 0;
		transform: scale(0);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes benefits-expand {
	from {
		height: 0;
	}

	to {
		height: 180%;
	}
}

@keyframes spin-360 {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
