@import '~tippy.js/themes/material.css';
@import '~tippy.js/animations/scale.css';
@import "../../../settings/all-settings";

.tippy-box {
	background-color: transparent;

	&[data-theme="red"] {
		--color: #{$color-red};
	}

	&[data-theme="grey"] {
		--color: #{$color-grey};
	}

	&[data-theme="dark"] {
		--color: #{$color-text-1};
	}

	&[data-theme="white"] {
		--color: #{$color-white};

		.tippy-content {
			color: $color-text-1;
		}
	}

	&[data-theme="lightgreen"] {
		--color: #{$color-accent};
	}

	&[data-theme="accent"] {
		--color: #{$color-white};

		.tippy-content {
			color: $color-accent;
			padding: microbe-rem(6) microbe-rem(22);
			font-size: microbe-rem(18);
			line-height: microbe-em(32, 18);
			border-radius: microbe-rem(30);
			filter: drop-shadow(0 microbe-rem(4) microbe-rem(8) rgba($color-black, .15));

			&::before {
				content: '';
				position: absolute;
				left: 50%;
				bottom: 1px;
				transform: translate(-50%, 50%) rotate(45deg);
				border-bottom: microbe-rem(6) solid $color-white;
				border-right: microbe-rem(6) solid $color-white;
				border-top: microbe-rem(6) solid transparent;
				border-left: microbe-rem(6) solid transparent;
				transform-origin: center;
			}
		}
	}
}

.tippy-tooltip {
	padding: 0;
}

.tippy-box {
	outline: none;
}

.tippy-content {
	border-radius: 10px;
	font-style: italic;
	padding: 12px 17px;
	background-color: var(--color);
	color: $color-white;
	font-size: 13px;
}

.tippy-box[data-placement^='left'] > .tippy-arrow::before {
	border-left-color: var(--color);
}

.tippy-box[data-placement^='top'] > .tippy-arrow::before {
	border-top-color: var(--color);
}

.tippy-box[data-placement^='right'] > .tippy-arrow::before {
	border-right-color: var(--color);
}

.tippy-box[data-placement^='bottom'] > .tippy-arrow::before {
	border-bottom-color: var(--color);
}
