// -----------------------------------------------------------------------------
// Размеры шрифтов
// -----------------------------------------------------------------------------

$line-height-base: 22.4;
$rem-base: 16;


// -----------------------------------------------------------------------------
// Имена SCSS переменных font
// -----------------------------------------------------------------------------

$font-family-default: 'TT Norms', sans-serif;
$font-family-code: monospace;

$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-regular: normal;
$font-weight-medium: 500;
$font-weight-thin: 300;
