.mfp-animate-side {
	$duration: 0.2s;
	$duration-bg: 0.3s;

	.mfp-content {
		display: inline-flex;
		height: 100%;
	}

	.popup {
		border-radius: 0;
		margin: 0;

		@include microbe-media ($breakpoint-xs) {
			margin: 0 -8px 0 0;
		}
	}

	.mfp-iframe-scaler {
		overflow: initial;
	}

	&--left {
		.mfp-content {
			justify-content: flex-end;
		}

		.mfp-iframe-scaler iframe,
		.mfp-figure,
		.mfp-arrow,
		.mfp-content > * {
			opacity: 0;
			transform: translateX(100%);
			transition: transform $duration ease-in-out, opacity $duration ease-in-out;
		}

		&.mfp-ready {
			.mfp-iframe-scaler iframe,
			.mfp-figure,
			.mfp-arrow,
			.mfp-content > * {
				opacity: 1;
				transform: translateX(0);
			}
		}

		&.mfp-removing {
			.mfp-iframe-scaler iframe,
			.mfp-figure,
			.mfp-arrow,
			.mfp-content > * {
				opacity: 0;
				transform: translateX(100%);
			}
		}
	}

	&--right {
		.mfp-content {
			justify-content: flex-start;
		}

		.mfp-iframe-scaler iframe,
		.mfp-figure,
		.mfp-arrow,
		.mfp-content > * {
			opacity: 0;
			transform: translateX(-100%);
			transition: transform $duration ease-in-out, opacity $duration ease-in-out;
		}

		&.mfp-ready {
			.mfp-iframe-scaler iframe,
			.mfp-figure,
			.mfp-arrow,
			.mfp-content > * {
				opacity: 1;
				transform: translateX(0);
			}
		}

		&.mfp-removing {
			.mfp-iframe-scaler iframe,
			.mfp-figure,
			.mfp-arrow,
			.mfp-content > * {
				opacity: 0;
				transform: translateX(-100%);
			}
		}
	}
}
