@mixin adaptive-vw ($key, $value, $suffix: '') {
	#{$key}: microbe-rem($value);

	@if ($screen-vw != none AND $value != none AND $value != auto) {
		@include microbe-media($screen-vw) {
			#{$key}: vw($value) #{$suffix};
		}
	}
}
