/**
@param {Number} $font-size - размер в пикселях
@param {Number} $line-height - размер в пикселях
@param {Number} $letter-spacing - размер в емах
 */

@mixin font-mixin($font-size: $rem-base, $line-height: $line-height-base, $letter-spacing:false) {
	font-size: microbe-rem($font-size);
	line-height: microbe-rem($line-height);

	@if ($letter-spacing) {
		letter-spacing: microbe-rem($letter-spacing * $font-size);
	}
}
