//@import 'settings/all-settings';
//@import 'tools/all-tools';
//@import '~jquery.mmenu/dist/jquery.mmenu.all.css';
//
//.mm-menu_theme-white { // sass-lint:disable-line class-name-format
//	--mm-color-text: $color-black;
//	--mm-color-button: $color-accent-darker;
//	--mm-color-text-dimmed: $color-black;
//}
//
//.mm-menu {
//	z-index: 1000 !important; // sass-lint:disable-line no-important
//
//	@include microbe-media($screen-vw) {
//		display: none;
//	}
//}
//
//.mm-wrapper__blocker {
//	z-index: 900 !important; // sass-lint:disable-line no-important
//
//	.mm-menu_opened ~ & { // sass-lint:disable-line class-name-format
//		background-color: $color-text-4 !important; // sass-lint:disable-line no-important
//		opacity: 0.7 !important; // sass-lint:disable-line no-important
//	}
//}
//
//.mm-iconbar {
//	left: auto;
//	right: 0;
//	border-right-width: 0;
//	border-left-width: 1px;
//}
//
//.mm-menu_iconbar { // sass-lint:disable-line class-name-format
//	.mm-navbars_top { // sass-lint:disable-line class-name-format
//		left: 0;
//		right: var(--mm-iconbar-size);
//	}
//
//	.mm-panels {
//		left: 0;
//		right: var(--mm-iconbar-size);
//	}
//}
//
//.mm-icon-link {
//	text-transform: uppercase;
//
//	&.is-active {
//		color: $color-accent-darker;
//	}
//}
//
//.mm-listitem {
//	&__text {
//		cursor: pointer;
//		display: flex;
//		padding-top: 0;
//		padding-bottom: 0;
//		align-items: center;
//		transition: 0.3s;
//		color: var(--color-text) !important; // sass-lint:disable-line no-important
//		fill: var(--color-text);
//		min-height: 44px;
//
//		svg {
//			flex-shrink: 0;
//			width: 25px;
//			height: 35px;
//			margin-right: 10px;
//		}
//
//		img {
//			flex-shrink: 0;
//			width: 25px;
//			height: 35px;
//			object-fit: scale-down;
//			margin-right: 10px;
//		}
//
//		&.is-active {
//			fill: $color-accent-darker;
//			color: $color-accent-darker !important; // sass-lint:disable-line no-important
//		}
//	}
//
//	&::after {
//		right: 20px;
//		border-color: rgba($color-accent-darker, .2);
//	}
//}
//
//.mm-listitem__btn:not(.mm-listitem__text) {
//	padding-right: 50px;
//	margin-right: microbe-rem(13);
//	border: {
//		left: 1px solid rgba($color-black, .2) !important; // sass-lint:disable-line no-important
//		right: none !important; // sass-lint:disable-line no-important
//		top: none !important; // sass-lint:disable-line no-important
//		bottom: none !important; // sass-lint:disable-line no-important
//	}
//
//	&::after {
//		right: 20px;
//	}
//}
//
//.mm-btn::after,
//.mm-btn::before {
//	border-color: $color-accent-darker;
//}
